.center button[type= "submit"]{
       
  border-bottom: 2px rgb(255, 255, 255);
  border: solid 2px rgb(255, 255, 255);
  width: 90px;
  height: 40px;
  background: #027729;
  color:rgb(255, 255, 255)
  }

  .container button[type= "submit"]{
       
    border:black;
    outline:black;
    height: 40px;
    background: #4104ce;
    color:rgb(138, 180, 236)
  }

  .container th{
    background-color: #ffffff;

  }
  .container td{
    background-color: #ffffff;
  }