<div class="center">
<button type="submit" routerLink="/registrarse">Volver</button>
</div>
<div class="container">
    <div class="row">
        <h1>Contactos</h1>
    </div>
    <div>
        <br>
        <table class="table">
            <thead>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Llamadas Entrante</th>
                <th>Llamadas Saliente</th>
                
            </thead>
            <tbody>
                <tr>
                    <td> Juani </td>
                    <td> Queral </td>
                    <td> queraljuani@gmail.com </td>
                    <td> 3464598624 </td>
                    <td> 3 </td>
                    <td> 2 </td>
                    <a href="tel:{{contacto.telefono}}"><img id="wp" src="./../../../../assets/icons/call.png"></a>
                    <a href="https://wa.me/{{contacto.telefono}}" target="_blank"><img id="wp" src="./../../../../assets/icons/whatsapp.png"></a>
                </tr>
            </tbody>
        </table>
    </div>    
    
