<div class="center">
    <button type="submit" class = "volver" routerLink="/registrarse">Volver</button>
    </div>
                          
    <div class="loginbox">
           
            <h1><strong> Datos del Contacto </strong></h1>
           
            <form> 
                        <div appearance="outline">
                            <a> Nombre </a>
                            <input formControlName="nombre"  autocomplete="off">
                        </div>
                    
                         <div appearance="outline">
                            <a> Apellido </a>
                            <input formControlName="apellido"  autocomplete="off">
                        </div>
                    
                    
                        <div appearance="outline">
                            <a> Email </a>
                            <input formControlName="email"  autocomplete="off">
                        </div>
                    
                    
                        <div appearance="outline">
                            <a> Telefono </a>
                            <input formControlName="telefono" autocomplete="off">
                        </div>
                    
                    
                        <div appearance="outline">
                            <a> Llamadas entrante </a>
                            <input formControlName="llamadasEntrante" autocomplete="off">
                        </div>
                    
                    
                        <div appearance="outline">
                            <a> Llamadas saliente </a>
                            <input formControlName="llamadasSaliente"  autocomplete="off">
                        </div>
                   
                        
                            <div class="center">
                              
                                <button type="submit" class="btnAceptar">Aceptar</button>
                              
                            </div>
                          
